*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

*::selection{
	background: #006241;
	color: white;
}
.header{
	background: #006241;
	padding: 12px 20px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.header__logo{
	width: 48px;
	height: 48px;
}
.header__nav, 
.header__container-login{
	display: none;
}
.header__container-user-mobile i{
	color: white;
	font-size: 40px;
}
.main__container-logo{
	display: none;
}
.main{
	margin-top: 80px;
	padding: 15px 15px 60px;

}
.main__container-title{
	font-size: 50px;
	line-height: 1.2;
}
.main__container-title span{
	color: #006241;
}
.main__description{
	font-weight: bolder;
	margin-top: 20px;
}
.main__container-text{
	display: flex;
	flex-direction: column;
}
.gallery{
	background: #006241;
	padding: 50px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gallery__img{
	width: 288px;
	height: 430px;
	margin-top: 25px;
	width: 95%;
	height: 95%;
}
.contact{
	background: #0e0e0e;
	padding: 40px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.contact__title{
	color: #006241;
	text-align: center;
	font-size: 30px;
	margin-bottom: 25px;
}
.contact__form{
	background: #006241;
	padding: 10px;
	color: white;
	width: 280px;
}
.contact__input label{
	font-size: 18px;
}
.contact__input {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}
.contact__input input::placeholder,
.contact__input textarea::placeholder {
	font-size: 12px;
	color: #006241;
	font-weight: bolder;
}
.contact__input input,
.contact__input textarea {
	padding: 5px;
	border-radius: 7.5px;
	border: 0;
}
.contact__input input:focus,
.contact__input textarea:focus {
	background: black;
	color: white;
}
.contact__button{
	background: #006241;
	border: 1px solid white;
	color: white;
	width: 45%;
	margin-top: 20px;
	border-radius: 7.5px;
	padding: 4px;
	transition: all 1s;
}
.contact__button:hover {
	background: yellow;
	border: 1px solid yellow;
}